In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
data = pd.read_csv('./starting_salaries.csv')

In [3]:
data.head()

   GPA  unemployment major   salary
0  2.6           6.1   Eng  53100.0
1  2.6           5.6    CS  68700.0
2  2.8           6.5    CS  72800.0
3  2.8           5.0    CS  72100.0
4  3.1           6.1    MA  74800.0

In [4]:
data.major.value_counts()

Eng    347
CS     336
MA     317
Name: major, dtype: int64

In [5]:
df1 = pd.get_dummies(data)
df1.head()

   GPA  unemployment   salary  major_CS  major_Eng  major_MA
0  2.6           6.1  53100.0         0          1         0
1  2.6           5.6  68700.0         1          0         0
2  2.8           6.5  72800.0         1          0         0
3  2.8           5.0  72100.0         1          0         0
4  3.1           6.1  74800.0         0          0         1

In [6]:
# GPA = df1.GPA
# salary = df1.salary
# unemployment = df1.unemployment
df1.GPA = (df1.GPA - df1.GPA.mean()) / (df1.GPA.mean())
df1.salary = (df1.salary - df1.salary.mean()) / (df1.salary.std())
df1.unemployment = (df1.unemployment - df1.unemployment.mean()) / (df1.unemployment.std())
# major_CS_s = df1.major_CS
# major_Eng_s = df1.major_Eng
# major_MA_s = df1.major_MA
salary_s = df1.salary.values
df1.drop(['salary'],axis=1,inplace=True)

In [11]:
# transform into numpy array
df1.shape
salary_s = salary_s.reshape((1000,1))
# salary_s.reshape((1000,1))
salary_s.shape

(1000, 1)

In [12]:
# initialize parameters
w = tf.Variable(tf.random_normal([5, 1] ,stddev = 1))
b = tf.Variable([1.0], dtype='float32')

In [13]:
x = tf.placeholder(tf.float32, shape=(1000, 5))
y = tf.placeholder(tf.float32, shape=(1000, 1))

In [14]:
# define MSE
loss = tf.reduce_mean(tf.square(y - (tf.matmul(x, w) + b)))

In [15]:
# define optimizer
STEP_SIZE = 0.0001
optimizer = tf.train.GradientDescentOptimizer(STEP_SIZE)
train = optimizer.minimize(loss)
init = tf.global_variables_initializer()

In [16]:
sess = tf.Session()
MAXSTEPS = 100000
MOD=10000
#initialize all variables
sess.run(init)

In [17]:
for step in range(MAXSTEPS+1):
    (_,wopt,bopt,loss_opt) = sess.run([train,w,b,loss],feed_dict={x: df1, y:salary_s})
    if (step % MOD) == 0:
        print(step, wopt,bopt, loss_opt)

0 [[ 0.20910825]
 [-0.04092576]
 [ 0.39677334]
 [ 0.39332458]
 [-0.37947467]] [ 0.9997701] 2.4763
10000 [[ 0.41488639]
 [-0.00053917]
 [ 0.31390867]
 [-0.37577435]
 [-0.32347846]] [ 0.20380192] 0.719193
20000 [[ 0.61248964]
 [ 0.00786512]
 [ 0.38766757]
 [-0.64174074]
 [-0.18154167]] [ 0.15353194] 0.575379
30000 [[ 0.80281621]
 [ 0.01027064]
 [ 0.43123543]
 [-0.76785845]
 [-0.09993944]] [ 0.1525864] 0.513739
40000 [[ 0.98639029]
 [ 0.01104202]
 [ 0.45252165]
 [-0.83098036]
 [-0.05686541]] [ 0.15382323] 0.473499
50000 [[ 1.16358101]
 [ 0.011195  ]
 [ 0.46237427]
 [-0.8626706 ]
 [-0.03426415]] [ 0.15457936] 0.440423
60000 [[ 1.33468604]
 [ 0.01107598]
 [ 0.46660939]
 [-0.87844396]
 [-0.02231599]] [ 0.15496585] 0.410717
70000 [[ 1.49994838]
 [ 0.01083401]
 [ 0.46811241]
 [-0.88614422]
 [-0.01589967]] [ 0.15516001] 0.383296
80000 [[ 1.65958488]
 [ 0.0105385 ]
 [ 0.46829841]
 [-0.88974822]
 [-0.01236425]] [ 0.15527658] 0.357785
90000 [[ 1.81375337]
 [ 0.01022351]
 [ 0.46785161]
 [-0.89131999]
 [-0.01032414]] [ 0.15532544] 0.334004
100000 [[ 1.96270072]
 [ 0.00990686]
 [ 0.46714011]
 [-0.89176089]
 [-0.00906475]] [ 0.15532807] 0.311814

In [21]:
def predict_salary(wopt, bopt):
    return wopt * df1 + bopt

In [22]:
predict_salary(wopt, bopt)

ValueError: operands could not be broadcast together with shapes (5,1) (1000,5)