In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./Iris-cleaned.csv')

In [3]:
data.head()

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
data.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
species          object
dtype: object

In [5]:
data['species'] = data.species.astype('category')
data.dtypes

sepal length     float64
sepal width      float64
petal length     float64
petal width      float64
species         category
dtype: object

In [6]:
features = data.iloc[:, 0:4]
species = pd.get_dummies(data.species)

In [7]:
features.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
data.head(10)

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [9]:
data.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [69]:
species.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

In [10]:
feature_s = (features - features.mean()) / features.std()

In [11]:
print(feature_s.shape)
print(species.shape)

(150, 4)
(150, 3)

In [42]:
# x is not trainable, while w and b is trainable

x = tf.placeholder(dtype = 'float32',shape=[150,4])
y = tf.placeholder(dtype = 'float32', shape=[150,3])
w = tf.Variable(tf.truncated_normal([4,3], stddev=1))
b = tf.Variable(tf.truncated_normal([1,3], stddev=1))

In [89]:
y1 = tf.nn.softmax(tf.matmul(x, w) + b)
loss = tf.reduce_mean(tf.square(y - y1))

In [90]:
# define optimizer
# STEP_SIZE = 0.0001
optimizer = tf.train.AdamOptimizer().minimize(loss)
init = tf.global_variables_initializer()

In [94]:
sess = tf.Session()
MAXSTEPS = 200000
MOD=10000
#initialize all variables
sess.run(init)

In [95]:
for step in range(MAXSTEPS+1):
    (_, loss_opt) = sess.run([optimizer,loss],feed_dict={x: feature_s, y: species})
    if (step % MOD) == 0:
        print(step, loss_opt)

0 0.469051
10000 0.0105124
20000 0.00816544
30000 0.0066778
40000 0.0057195
50000 0.00515601
60000 0.00483354
70000 0.00465292
80000 0.00455425
90000 0.00450148
100000 0.00447385
110000 0.00445958
120000 0.00445228
130000 0.00444859
140000 0.00444672
150000 0.00444578
160000 0.00444529
170000 0.00444502
180000 0.00444487
190000 0.00444477
200000 0.00444471

In [103]:
(yp) = sess.run(y1, feed_dict={x:feature_s})

In [104]:
yp

array([[  1.00000000e+00,   4.21148828e-31,   0.00000000e+00],
       [  1.00000000e+00,   1.24258275e-18,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.77776829e-31,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.33797228e-33,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.86254894e-27,   0.00000000e+00],
       [  1.00000000e+00,   4.76878250e-24,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   2.85630183e-27,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.80277571e-10,   0.00000000e+00],
       [  1.00000000e+00,   3.52564850e-35,   0.00000000e+00],
       [  1.00000000e+00,   4.14271167e-26,   0.00000000e+00],
       [  1.00000000e+00,   1.51147644e-28,   0.00000000e+00],
       [  1.00000000e+00,   7.46297815e-11,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   5.98243417e-12,   0.00000000e+00],
       [  1.00000000e+00,   3.44957486e-37,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.31398757e-17,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   3.12001071e-15,   0.00000000e+00],
       [  1.00000000e+00,   7.84409524e-30,   0.00000000e+00],
       [  1.00000000e+00,   2.32335437e-26,   0.00000000e+00],
       [  1.00000000e+00,   4.31870998e-20,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   2.51012566e-32,   0.00000000e+00],
       [  9.99628186e-01,   3.71854170e-04,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.86254894e-27,   0.00000000e+00],
       [  1.00000000e+00,   1.01574949e-19,   0.00000000e+00],
       [  9.99979973e-01,   1.99724545e-05,   0.00000000e+00],
       [  1.00000000e+00,   1.86254894e-27,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.62172064e-27,   0.00000000e+00],
       [  1.00000000e+00,   2.73981689e-33,   0.00000000e+00],
       [  9.99859214e-01,   1.40819699e-04,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   1.19429444e-29,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   3.67927452e-22,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   3.93440103e-30,   0.00000000e+00],
       [  1.00000000e+00,   2.48705676e-27,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   4.10085751e-33],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   1.72014347e-38],
       [  7.50256169e-28,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   4.01250807e-36],
       [  2.49272347e-07,   9.99999762e-01,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  5.74673338e-13,   1.00000000e+00,   0.00000000e+00],
       [  1.93765047e-30,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   4.03853884e-35],
       [  6.44905827e-29,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  5.05323379e-17,   1.00000000e+00,   1.23786868e-36],
       [  1.45150549e-36,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   3.52693819e-21],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  4.64048908e-29,   9.95868325e-01,   4.13170736e-03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   9.96753514e-01,   3.24644195e-03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   9.92858571e-37],
       [  0.00000000e+00,   9.98621583e-01,   1.37842551e-03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  1.83172607e-38,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.99422596e-19,   1.00000000e+00],
       [  7.42346383e-05,   9.99925733e-01,   3.80238664e-33],
       [  3.34204906e-24,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  2.79334492e-17,   1.00000000e+00,   0.00000000e+00],
       [  3.55522245e-37,   1.00000000e+00,   0.00000000e+00],
       [  2.51550388e-24,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  2.43078087e-18,   1.00000000e+00,   0.00000000e+00],
       [  1.01346421e-30,   1.00000000e+00,   0.00000000e+00],
       [  1.81725325e-19,   1.00000000e+00,   0.00000000e+00],
       [  5.98480804e-27,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  3.77108531e-21,   1.00000000e+00,   0.00000000e+00],
       [  3.21968417e-33,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  3.99596849e-12,   1.14872485e-08,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   2.13906118e-25,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.51431050e-20,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   6.33571624e-15,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   4.51556480e-06,   9.99995470e-01],
       [  0.00000000e+00,   1.07955538e-08,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   3.09526920e-03,   9.96904671e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   4.41179471e-03,   9.95588183e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.75395161e-36,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   6.78946697e-27,   1.00000000e+00]], dtype=float32)

In [105]:
species.var().mean()

0.22371364653243822

In [117]:
err=(yp.argmax(axis=1) != species.values.argmax(axis=1)).sum()

In [120]:
yp.argmax(axis=1) != species.values.argmax(axis=1)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False], dtype=bool)

In [119]:
err = err / species.shape[0]
print("error_rate: ", err)

error_rate:  0.00666666666667