In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./Iris-cleaned.csv')

In [3]:
data.head()

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
data.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
species          object
dtype: object

In [5]:
data['species'] = data.species.astype('category')
data.dtypes

sepal length     float64
sepal width      float64
petal length     float64
petal width      float64
species         category
dtype: object

In [6]:
features = data.iloc[:, 0:4]
species = pd.get_dummies(data.species)

In [7]:
features.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
data.head(10)

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [9]:
data.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [10]:
species.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

In [11]:
feature_s = (features - features.mean()) / features.std()

In [12]:
print(feature_s.shape)
print(species.shape)

(150, 4)
(150, 3)

In [13]:
# x is not trainable, while w and b is trainable

x = tf.placeholder(dtype = 'float32',shape=[150,4])
y = tf.placeholder(dtype = 'float32', shape=[150,3])
w = tf.Variable(tf.truncated_normal([4,3], stddev=1))
b = tf.Variable(tf.truncated_normal([1,3], stddev=1))

In [14]:
y1 = tf.nn.softmax(tf.matmul(x, w) + b)
loss = tf.reduce_mean(tf.square(y - y1))

In [15]:
# define optimizer
# STEP_SIZE = 0.0001
optimizer = tf.train.AdamOptimizer().minimize(loss)
init = tf.global_variables_initializer()

In [16]:
sess = tf.Session()
MAXSTEPS = 200000
MOD=10000
#initialize all variables
sess.run(init)

In [17]:
for step in range(MAXSTEPS+1):
    (_, loss_opt) = sess.run([optimizer,loss],feed_dict={x: feature_s, y: species})
    if (step % MOD) == 0:
        print(step, loss_opt)

0 0.391796
10000 0.0100198
20000 0.00806755
30000 0.00660535
40000 0.00567535
50000 0.00513035
60000 0.00481896
70000 0.00464485
80000 0.0045499
90000 0.00449917
100000 0.00447265

KeyboardInterrupt:

In [18]:
(yp) = sess.run(y1, feed_dict={x:feature_s})

In [19]:
yp

array([[  1.00000000e+00,   3.33903430e-21,   0.00000000e+00],
       [  1.00000000e+00,   3.97460656e-13,   0.00000000e+00],
       [  1.00000000e+00,   1.44780782e-26,   0.00000000e+00],
       [  1.00000000e+00,   6.52303685e-29,   0.00000000e+00],
       [  1.00000000e+00,   2.53379725e-28,   0.00000000e+00],
       [  1.00000000e+00,   2.61843962e-21,   0.00000000e+00],
       [  1.00000000e+00,   4.77130101e-36,   0.00000000e+00],
       [  1.00000000e+00,   9.51673213e-23,   0.00000000e+00],
       [  1.00000000e+00,   1.34126606e-29,   0.00000000e+00],
       [  1.00000000e+00,   9.62687479e-19,   0.00000000e+00],
       [  1.00000000e+00,   1.38837237e-16,   0.00000000e+00],
       [  1.00000000e+00,   2.05819210e-31,   0.00000000e+00],
       [  1.00000000e+00,   1.09791486e-18,   0.00000000e+00],
       [  1.00000000e+00,   6.08445605e-36,   0.00000000e+00],
       [  1.00000000e+00,   5.12737444e-08,   0.00000000e+00],
       [  1.00000000e+00,   7.52573777e-24,   0.00000000e+00],
       [  1.00000000e+00,   4.19284121e-18,   0.00000000e+00],
       [  1.00000000e+00,   1.41386984e-19,   0.00000000e+00],
       [  1.00000000e+00,   5.95621401e-08,   0.00000000e+00],
       [  1.00000000e+00,   6.10339688e-30,   0.00000000e+00],
       [  1.00000000e+00,   1.27059163e-08,   0.00000000e+00],
       [  1.00000000e+00,   3.98362900e-25,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   2.37942999e-12,   0.00000000e+00],
       [  1.00000000e+00,   8.13058127e-34,   0.00000000e+00],
       [  1.00000000e+00,   8.49196338e-11,   0.00000000e+00],
       [  1.00000000e+00,   2.69742984e-20,   0.00000000e+00],
       [  1.00000000e+00,   4.51276779e-18,   0.00000000e+00],
       [  1.00000000e+00,   4.40024163e-14,   0.00000000e+00],
       [  1.00000000e+00,   5.71961110e-29,   0.00000000e+00],
       [  1.00000000e+00,   7.53717998e-22,   0.00000000e+00],
       [  9.99089241e-01,   9.10815201e-04,   0.00000000e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.00000000e+00,   8.63012675e-28,   0.00000000e+00],
       [  1.00000000e+00,   9.62687479e-19,   0.00000000e+00],
       [  1.00000000e+00,   5.72343076e-14,   0.00000000e+00],
       [  9.99887109e-01,   1.12835995e-04,   0.00000000e+00],
       [  1.00000000e+00,   9.62687479e-19,   0.00000000e+00],
       [  1.00000000e+00,   5.50441275e-32,   0.00000000e+00],
       [  1.00000000e+00,   8.13625914e-19,   0.00000000e+00],
       [  1.00000000e+00,   1.04616588e-22,   0.00000000e+00],
       [  9.99588311e-01,   4.11751942e-04,   0.00000000e+00],
       [  1.00000000e+00,   2.31686162e-38,   0.00000000e+00],
       [  1.00000000e+00,   3.13787088e-20,   0.00000000e+00],
       [  1.00000000e+00,   1.61396585e-31,   0.00000000e+00],
       [  1.00000000e+00,   1.96854692e-15,   0.00000000e+00],
       [  1.00000000e+00,   2.27856605e-32,   0.00000000e+00],
       [  1.00000000e+00,   2.67706660e-31,   0.00000000e+00],
       [  1.00000000e+00,   1.62393649e-20,   0.00000000e+00],
       [  1.00000000e+00,   9.27928936e-19,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   7.11990333e-38],
       [  3.04635336e-37,   1.00000000e+00,   1.21755802e-35],
       [  0.00000000e+00,   1.00000000e+00,   6.78200699e-21],
       [  2.67943687e-31,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   3.68358205e-24],
       [  3.23075551e-19,   1.00000000e+00,   1.81759759e-29],
       [  3.79379348e-30,   1.00000000e+00,   1.13159371e-22],
       [  3.02082935e-05,   9.99969840e-01,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   8.64718996e-37],
       [  3.52847374e-09,   1.00000000e+00,   0.00000000e+00],
       [  2.50494701e-20,   1.00000000e+00,   0.00000000e+00],
       [  2.31366972e-26,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  8.80845054e-32,   1.00000000e+00,   5.52421445e-22],
       [  2.62475265e-19,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  3.65994735e-12,   1.00000000e+00,   7.46207890e-23],
       [  1.16241593e-24,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   2.15327051e-13],
       [  2.11052139e-26,   1.00000000e+00,   0.00000000e+00],
       [  4.48698533e-20,   9.67165887e-01,   3.28340456e-02],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   9.72837448e-01,   2.71625780e-02],
       [  1.02464751e-31,   1.00000000e+00,   1.66206520e-29],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   1.00000000e+00,   4.21214805e-23],
       [  0.00000000e+00,   9.87155676e-01,   1.28443139e-02],
       [  4.44435089e-31,   1.00000000e+00,   3.08933264e-25],
       [  1.00619993e-28,   1.00000000e+00,   0.00000000e+00],
       [  1.85055983e-26,   1.00000000e+00,   0.00000000e+00],
       [  1.23873065e-25,   1.00000000e+00,   0.00000000e+00],
       [  1.62007421e-29,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   2.49483919e-12,   1.00000000e+00],
       [  2.67446885e-04,   9.99732554e-01,   1.16657120e-20],
       [  9.13195220e-17,   1.00000000e+00,   1.68509184e-30],
       [  0.00000000e+00,   1.00000000e+00,   8.17629580e-28],
       [  0.00000000e+00,   1.00000000e+00,   1.40352822e-30],
       [  4.09815671e-12,   1.00000000e+00,   0.00000000e+00],
       [  6.36591818e-25,   1.00000000e+00,   0.00000000e+00],
       [  6.65330616e-17,   1.00000000e+00,   1.39439065e-32],
       [  2.14631516e-29,   1.00000000e+00,   1.51509009e-28],
       [  6.64891696e-32,   1.00000000e+00,   0.00000000e+00],
       [  2.29239067e-12,   1.00000000e+00,   0.00000000e+00],
       [  7.07909731e-21,   1.00000000e+00,   0.00000000e+00],
       [  1.28399000e-13,   1.00000000e+00,   0.00000000e+00],
       [  1.96724519e-18,   1.00000000e+00,   0.00000000e+00],
       [  2.72444887e-37,   1.00000000e+00,   0.00000000e+00],
       [  5.94316805e-14,   1.00000000e+00,   0.00000000e+00],
       [  2.01757626e-22,   1.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   8.17373455e-29,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   2.45241222e-37,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  6.13438855e-09,   7.83169071e-06,   9.99992132e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   7.16564992e-16,   1.00000000e+00],
       [  0.00000000e+00,   2.40970582e-31,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   3.95971838e-34,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.39823922e-28,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   4.90106165e-13,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.18329136e-24,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.88065052e-09,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   5.48046548e-04,   9.99451935e-01],
       [  2.10880817e-38,   1.24786229e-05,   9.99987483e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   4.81596427e-25,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   2.78517567e-02,   9.72148240e-01],
       [  0.00000000e+00,   1.71126610e-26,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.13198795e-27,   1.00000000e+00],
       [  7.92378407e-32,   3.46928574e-02,   9.65307176e-01],
       [  0.00000000e+00,   6.38722841e-32,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   8.86753613e-28,   1.00000000e+00],
       [  0.00000000e+00,   8.17373455e-29,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   1.55525529e-36,   1.00000000e+00],
       [  0.00000000e+00,   8.78315839e-23,   1.00000000e+00],
       [  0.00000000e+00,   1.94126678e-24,   1.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  0.00000000e+00,   6.15203471e-17,   1.00000000e+00]], dtype=float32)

In [20]:
species.var().mean()

0.22371364653243822

In [21]:
err=(yp.argmax(axis=1) != species.values.argmax(axis=1)).sum()

In [22]:
yp.argmax(axis=1) != species.values.argmax(axis=1)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False], dtype=bool)

In [23]:
err = err / species.shape[0]
print("error_rate: ", err)

error_rate:  0.00666666666667

In [24]:
from sklearn.linear_model import LogisticRegression

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
5         1           0          0
6         1           0          0
7         1           0          0
8         1           0          0
9         1           0          0
10        1           0          0
11        1           0          0
12        1           0          0
13        1           0          0
14        1           0          0
15        1           0          0
16        1           0          0
17        1           0          0
18        1           0          0
19        1           0          0
20        1           0          0
21        1           0          0
22        1           0          0
23        1           0          0
24        1           0          0
25        1           0          0
26        1           0          0
27        1           0          0
28        1           0          0
29        1           0          0
..      ...         ...        ...
120       0           0          1
121       0           0          1
122       0           0          1
123       0           0          1
124       0           0          1
125       0           0          1
126       0           0          1
127       0           0          1
128       0           0          1
129       0           0          1
130       0           0          1
131       0           0          1
132       0           0          1
133       0           0          1
134       0           0          1
135       0           0          1
136       0           0          1
137       0           0          1
138       0           0          1
139       0           0          1
140       0           0          1
141       0           0          1
142       0           0          1
143       0           0          1
144       0           0          1
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [36]:
LR = LogisticRegression(solver='sag', max_iter=100, random_state=42,
                             multi_class=multi_class)
print(species.shape)
LR.fit(feature_s, species)

species_pred = LR.predict(feature_s)

mse = ((species - species_pred) ** 2).mean()
print(mse)

(150, 3)

ValueError: bad input shape (150, 3)